fastapi==0.111.0
httpx==0.27.0
python-multipart==0.0.9
uvicorn==0.29.0
h11==0.14.0  # 可能是由 uvicorn 依赖安装的
starlette==0.37.2  # 可能是由 fastapi 依赖安装的
cos-python-sdk-v5
python-dotenv~=1.0.1
pydantic~=2.6.4
requests~=2.31.0
psycopg2-binary
f2==0.0.1.6
minio
sqlalchemy~=2.0.30
